.sidebar{
    flex: 2.5;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 30px;
    background-color: whitesmoke;
}

/* ::-webkit-scrollbar{
    cursor: pointer;
} */
::-webkit-scrollbar-track{
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb{
    color: rgb(172, 172, 172);
}

.sidebarWrapper{
    font-size: large;
    padding: 20px;
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 500;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin: 20px;
}

.sidebarIcon{
    margin-right: 15px;
}

.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.sidebarHr{
    margin: 20px 0;
}

.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}